{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": "airbnb",
    "rules": {
      "arrow-parens": 0, //TODO: Look into fixing this
      "class-methods-use-this": 0,
      "no-return-assign": 0,
      "import/no-extraneous-dependencies": 0,
      "react/jsx-boolean-value": 0,
      "react/jsx-no-bind": 0,
      "react/no-find-dom-node": 0,
      "react/prefer-stateless-function": 0,
      "react/no-array-index-key": 0, //TODO: Fix this
      "react/require-default-props": 0, //TODO: Fix this
      "max-len": ["error", {
        "code": 150,
        "ignoreStrings": true
      }],
    },
    "globals": {
      "before": true,
      "fdescribe": true,
      "fit": true,
      "UIHarness": true
    }
}
